language: node_js
before_install:
- npm update -g npm
node_js:
- 11
- 12
- 14
- 16
deploy:
  provider: npm
  email: marius.dras@gmail.com
  api_key:
    secure: jWugRqKU7wwV8/USNj1uh1sQPHegx6vs+1vi6XUFsqi9jol+WDe3UQ+Z9F82DETtxE9UsARSA8xnOyk9mHjpQgphZGlN80hG46Ntg0cAfBhm+jsgxj5pKe47+ZzxAAiRCaXbvfft2/gD9u19yw2HaXAB/wZjyIVh6JZ2bL8hOwt9emujSYnfTonFw4fyh/0+5D5AhP2Nd0HDMHl96TKqSN212TXCSh4JLmgiH/veo+WH8dTrbfpH46dSFPwnQ8UD95za4RS7U0vZlsSJFRIotLhv6UTe7E1YACNuADGFXnWMCfzatUdW+OWdIzANei5sFmsTRSwuACtrj54n+rtCAZTuT0IU+MZDIP2hqjgm0+9tvZ55lHkDmvRPdaBZUIq4cVh6nddNW5iJZqv77uo3GqfXTOkyNlJ11tuVSGKiKWXp05jOQJ0h35l6tcarmCCdxjNM7yxj7Q2vrTe3AF0gTxRpHzO1qNtUtxQq97vtVjHAvbQRQZQePrSJDNrCs9bZw9XgaI/q95ql8A1FBma5hvp57mlE+x4eoxz2do77Y1OpaT3Es8OmGhFNNCQEeyaXiHtZL72X3BCkL0DjILHHI9ME/voxHvrMraKnebd6BhGt4MWysD6MGHELv1ZlB+sRrsaFjm/9EiKvEPP1tva7V67SPeGsnW02grd6If2JPys=
  on:
    tags: true
    repo: marius321967/config-pnp
    branch: master
  skip_cleanup: 'true'
