language: node_js
before_install:
- npm update -g npm
node_js:
- 11
- 12
- 14
- 16
deploy:
  provider: npm
  email: marius.dras@gmail.com
  api_key:
    secure: g1czRBMP5v8Dy2UuDkmLPH18ApPBFn91k0D6/gIIJwglSuY5oD8ShL+Sg+Grx+K/CvyCCkRrUqX2Rd3vyDAhqv06yrpPa6kY7ZKkJ5YBydp41Hr6BkjlYybkj1bgXcBW/r5u6Q3dFG7aFK0KYJ5+LzhukSEIwldXe6S+3jd/qPTNzw9n57BcuUF7hmj2LnDlBPg3rB8+RTKdqEYT8utv9odZlFcAWX+8GhHwLRADMSJn/U/yztA9z7KnVpmEmFdazCpu9jacUMkf4aXKfw16nDavNOE0S2NwIg63Gx0/Bqz4gd8zYnNS+n1CCZRzNvWdnaT6/j7DryM8lX6H6IaP9hciQC6FSAjvHKKdylCXCAiCQYHPGImU+5dWTdL9ljYTquU6LAe8eGdmAn1vZ55WAh+S1+IyuGRF6RcQkHIaxsJ+CxxwB4vWbKZYQK3/jlQ5StXrgn3GTYsm+C9uErMooE326dsH3xSKMIU27TSKJx9il5c4mXgHYv/5Oa//YCn/50lyZ5MMpUPEzMd3wIzokLnDAVUgp0zc3kSJAm2b7U58awuMZsVrkcKUUmovl+9fV4SIamntRkC1Wu9ht4cCf93dHPLOswJsfS4dlwkbNvzMTzh1h/GqZwSkpp3w4pCabGPQXjeUVlQPQI1sY3NUPuwDcWRRMYABsSDU8tu0uLQ=
  on:
    tags: true
    repo: marius321967/config-pnp
    branch: master
    node: 16
  skip_cleanup: 'true'
